In [16]:
# %load main.py
import numpy  as np
import pandas as pd
import joblib
import tensorflow
import nltk

### Task A

In [31]:
data_pathA = 'Datasets/A/twitter-2016test-A.txt'

In [40]:
dataA = pd.read_table(data_pathA,sep='\t',header=0)
dataA = dataA.drop(columns='Unnamed: 3')
dataA.columns = ['ID','Sentiment','Text']
dataA

,ID,Sentiment,Text
0,619969366986235905,neutral,Order Go Set a Watchman in store or through ou...
1,619971047195045888,negative,If these runway renovations at the airport pre...
2,619974445185302528,neutral,If you could ask an onstage interview question...
3,619987808317407232,positive,A portion of book sales from our Harper Lee/Go...
4,619994586182619136,positive,"Excited to read ""Go Set a Watchman"" on Tuesday..."
...,...,...,...
20626,681877834982232064,neutral,@ShaquilleHoNeal from what I think you're aski...
20627,681879579129200640,positive,"Iran ranks 1st in liver surgeries, Allah bless..."
20628,681883903259357184,neutral,Hours before he arrived in Saudi Arabia on Tue...
20629,681904976860327936,negative,@VanityFair Alex Kim Kardashian worth how to ...
20630,681910549211287552,neutral,I guess even Pandora knows Justin Bieber is a ...

In [21]:
dataA.loc[:,'Sentiment'].value_counts()

positive    3017
neutral     2001
negative     849
Name: Sentiment, dtype: int64

### Task B

In [11]:
data_pathB = 'Datasets/B/twitterB.txt'

In [12]:
# Read data from txt file
dataB = pd.read_table(data_pathB,sep='\t',header=0)
# data_df = data_df.drop(columns=3)
dataB.columns = ['ID','Topic','Sentiment','Text']
dataB

,ID,Topic,Sentiment,Text
0,628976607420645377,@microsoft,negative,@Microsoft how about you make a system that do...
1,629023169169518592,@microsoft,negative,I may be ignorant on this issue but... should ...
2,629179223232479232,@microsoft,negative,"Thanks to @microsoft, I just may be switching ..."
3,629226490152914944,@microsoft,positive,"Microsoft, I may not prefer your gaming branch..."
4,629345637155360768,@microsoft,negative,@MikeWolf1980 @Microsoft I will be downgrading...
...,...,...,...,...
4303,639166904813223937,metlife,positive,Heading up to MetLife tomorrow for the Jets game
4304,639295526995890177,metlife,positive,Going to MetLife tomorrow but not to see the b...
4305,639804828739346432,metlife,positive,It's the first Football Friday of the year. Th...
4306,639855845958885376,metlife,positive,@Racalto_SK ok good to know. Punting at MetLif...
4307,641034340068143104,metlife,positive,Mendez told me he'd drive me to MetLife on Sun...

In [13]:
dataB

,ID,Topic,Sentiment,Text
0,628976607420645377,@microsoft,negative,@Microsoft how about you make a system that do...
1,629023169169518592,@microsoft,negative,I may be ignorant on this issue but... should ...
2,629179223232479232,@microsoft,negative,"Thanks to @microsoft, I just may be switching ..."
3,629226490152914944,@microsoft,positive,"Microsoft, I may not prefer your gaming branch..."
4,629345637155360768,@microsoft,negative,@MikeWolf1980 @Microsoft I will be downgrading...
...,...,...,...,...
4303,639166904813223937,metlife,positive,Heading up to MetLife tomorrow for the Jets game
4304,639295526995890177,metlife,positive,Going to MetLife tomorrow but not to see the b...
4305,639804828739346432,metlife,positive,It's the first Football Friday of the year. Th...
4306,639855845958885376,metlife,positive,@Racalto_SK ok good to know. Punting at MetLif...
4307,641034340068143104,metlife,positive,Mendez told me he'd drive me to MetLife on Sun...

In [1]:
import A.SubtaskA as A

Version:  2.6.0
Eager mode:  True
GPU is available

### Step1: Data Pre-processing

In [4]:
# Load data
ClassA=A.A_Final()
address='Datasets/A/twitter-2016train-A.txt'
window=5
min_count=1
epochs=100
seq_len=100
X_train, X_test, Y_train, Y_test=PreProcess(self,address,window,min_count,epochs,seq_len)

AttributeError: module 'A.SubtaskA' has no attribute 'A_Final'

AttributeError: module 'A.SubtaskA' has no attribute 'SubtaskA'

In [9]:
embed_dict=ClassA.word2vec(token,window=5,min_count=1,epochs=100)

NameError: name 'pd' is not defined

In [3]:
X=

NameError: name 'pd' is not defined